html, body {
    width: 100vw;
    height: 100vh;

    margin: 0px;

    overflow: hidden;

    font-family: 'Montserrat', sans-serif;
}

main {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background: rgb(77, 91, 115);
    background-image: linear-gradient(132deg, rgb(77, 91, 115) 0%, rgb(61, 84, 76) 100%);

    color: white;
}

h1, h2 { 
    user-select: none;
}

h1 a {
    text-decoration: none;
    color: white;
}

h1 {
    margin: 2rem;
}

h2 {
    margin: 1.5rem;
}

dialog:not([open]) {
    display: none !important;
}

form#main-form {
    display: flex;
    flex-direction: column;
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    min-height: 500px;
}

form#main-form, auth-dialog dialog {
    display: flex;
    flex-direction: column;

    position: absolute;

    width: 375px;

    background-image: linear-gradient(135deg, rgb(122, 121, 121) 0%, rgb(150, 150, 150) 87%); 
    border-radius: 15px;

    box-shadow:
      1.9px 2.7px 58px -38px rgba(0, 0, 0, 0.04),
      6.5px 9.2px 74.3px -38px rgba(0, 0, 0, 0.06),
      29px 41px 131px -38px rgba(0, 0, 0, 0.1),
      inset 0px 0px 6px 0px rgba(255, 255, 255, 0.25);
}

aside#player-list {
   background: rgba(0, 0, 0, 0.2);

   position: absolute;
   bottom: 0px;
   right: 0px;

   height: 400px;
   width: 250px;

   overflow-y: auto;
}

aside#player-list {
    ul {
        margin: 0px;
        counter-reset: item;
        padding-left: 0px;
    }

    li {
        display: flex;
        font-weight: 500;
        align-items: center;

        button {
            border: 0px;
            background: transparent;

            margin-left: 0.5rem;
            width: 1rem;
            height: 1rem;
            cursor: pointer;
            display: block;

            opacity: 0.5;

            &[disabled] {
                opacity: 0;
                cursor: default;
            }

            transition: 0.2s ease;

            background-repeat: no-repeat;
            background-position: center center;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath fill='white' d='M400 224c-9.148 0-17.62 2.697-24.89 7.143C370.9 208.9 351.5 192 328 192c-17.38 0-32.46 9.33-40.89 23.17C282.1 192.9 263.5 176 240 176c-12.35 0-23.49 4.797-32 12.46V40c0-22.09-17.9-40-39.1-40C145.9 0 128 17.91 128 40v322.7L72 288C64.15 277.5 52.13 272 39.97 272c-21.22 0-39.97 17.06-39.97 40.02c0 8.356 2.608 16.78 8.005 23.98l91.22 121.6C124.8 491.7 165.5 512 208 512h96C383.4 512 448 447.4 448 368v-96C448 245.5 426.5 224 400 224zM240 400c0 8.844-7.156 16-16 16s-16-7.156-16-16v-96C208 295.2 215.2 288 224 288s16 7.156 16 16V400zM304 400c0 8.844-7.156 16-16 16s-16-7.156-16-16v-96C272 295.2 279.2 288 288 288s16 7.156 16 16V400zM368 400c0 8.844-7.156 16-16 16s-16-7.156-16-16v-96C336 295.2 343.2 288 352 288s16 7.156 16 16V400z'/%3E%3C/svg%3E");

            &:not([disabled]):hover {
                opacity: 1;
            }
       }

       &[controlling] {
            button {
                opacity: 1;
                cursor: default;
           }
       }
    }
}


aside#player-list li:before {
    content: counter(item) ". ";
    counter-increment: item;
    display: block;
    margin-right: auto;
    font-weight: bold;
}

aside#player-list player-list {
    display: block;
    padding: 1rem;
}

form label {
    display: block;

    margin: 1.5rem;
    margin-bottom: 0px;

    font-weight: 500;
}

form input[type="text"], form input[type="password"] {
    display: block;

    width: 100%;

    margin-top: 0.25rem;
    padding: 0.5rem;

    border-radius: 10px;
    border: 1px solid white;

    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;

    transition: box-shadow 0.1s ease;

    box-sizing: border-box;

}

form input[type="text"]:focus, form input[type="password"]:focus {
    outline: 0px;
}

form#main-form .submit-container {
    margin: 1.5rem;
    margin-top: auto;
}

form input[type="submit"] {
    display: block;

    width: 100%;

    box-sizing: border-box;

    padding: 0.5rem;

    font-weight: 500;

    background: #28a745;
    color: white;

    border: 0px;
    border-radius: 10px;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;

    box-shadow: 0 5px 0 0 #1d8033;

    transition: 0.1s filter, 0.1s box-shadow, 0.1s transform;
}

form input[type="submit"]:hover {
    cursor: pointer;
    filter: brightness(1.05);
}

form input[type="submit"]:active {
    box-shadow: 0px 0px 0px 0px #1d8033;
    transform: translateY(5px);
}
